- id: heizung_buero_tag
  alias: "Heizung Büro - Tagesmodus"
  description: "Büro auf 21°C von 7:00 bis 22:00"
  trigger:
    - platform: time
      at: "07:00:00"
    - platform: homeassistant
      event: start
  condition:
    - condition: time
      after: "07:00:00"
      before: "22:00:00"
  action:
    - service: climate.set_temperature
      target:
        entity_id: climate.heizung_buro
      data:
        temperature: 21

- id: heizung_buero_nacht
  alias: "Heizung Büro - Nachtmodus"
  description: "Büro auf 16°C ab 22:00"
  trigger:
    - platform: time
      at: "22:00:00"
    - platform: homeassistant
      event: start
  condition:
    - condition: or
      conditions:
        - condition: time
          after: "22:00:00"
        - condition: time
          before: "07:00:00"
  action:
    - service: climate.set_temperature
      target:
        entity_id: climate.heizung_buro
      data:
        temperature: 16

- id: heizung_bad_tag
  alias: "Heizung Bad - Tagesmodus"
  description: "Bad auf 21°C von 7:00 bis 22:00"
  trigger:
    - platform: time
      at: "07:00:00"
    - platform: homeassistant
      event: start
  condition:
    - condition: time
      after: "07:00:00"
      before: "22:00:00"
  action:
    - service: climate.set_temperature
      target:
        entity_id: climate.zigbee_intelligentes_temperaturregelventil
      data:
        temperature: 21

- id: heizung_bad_nacht
  alias: "Heizung Bad - Nachtmodus"
  description: "Bad auf 16°C ab 22:00"
  trigger:
    - platform: time
      at: "22:00:00"
    - platform: homeassistant
      event: start
  condition:
    - condition: or
      conditions:
        - condition: time
          after: "22:00:00"
        - condition: time
          before: "07:00:00"
  action:
    - service: climate.set_temperature
      target:
        entity_id: climate.zigbee_intelligentes_temperaturregelventil
      data:
        temperature: 16
